# Byte-compiled / Python files
__pycache__/
*.py[cod]
*$py.class

# Logs y bases de datos locales
*.log
*.sqlite
*.db

# Configs sensibles
config.json
.env
secrets.yaml

# Carpetas de trabajo de Freqtrade u otras herramientas
user_data/
backtest_results/
strategy_results/

# Datos históricos y parquet del trading
data_platform/data_lake/**/*.parquet

# Prefect temporal
.prefect/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.swpdata_platform/data_lake/
data_platform/data_lake/
requirements.txt.bak
